//Variables
$background-color: #151030;
$primary-color: #007bff;
$secondary-color: #6c757d;
$header-color: #050816;
$font-color: #fff;
$shadow-light: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
$shadow-heavy: 0 8px 16px 0 rgba(0, 0, 0, 0.2);